body {
    padding: 0rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.page-container{
    padding-top:3rem;
}
#contentContainer {
    padding: 4rem 0rem 0rem 0rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;

}

button {
    color: white;
    background: #f1a02f;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 2px 5px 0.3px #000000;
    cursor: pointer;
}

button:hover {
    outline: none;
    background: #ff9501;

}

button:focus,
button:active {
    outline: none;
    background: #e08402;

}

input {
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1.1rem;
    font-weight: bold;
}

h1,
h2,
h3 {
    color: #f1a02f;
}

p {
    text-align: justify;
}

textarea {
    border: none;
    font-weight: bold;
    width: 100%
}

textarea:focus,
textarea:active {
    border: none;
    outline: none;
}


/* Card */
.card-container {
    display: flex;
    justify-content: space-between;
    color: white;
    max-width:75%;
    margin:0rem auto 1.5rem auto
}

/* Thematic formatting and styling */
.center-this{
    text-align: center;
}

.align-left{
    text-align:left;
}

.align-right{
    text-align:right;
}

.center-content{
    align-content: center;
    align-items: center;
    display: flex;
}

.max-width-50{
    max-width: 50vw;
    margin-left:auto;
    margin-right:auto
}

.color-black{
    color:black;
}

.color-orange{
    color:#f1a02f
}

.make-bold{
    font-weight:bold
}

.content-container{
    max-width:900px;
    width:100%;
    margin:2rem auto 2rem auto;
}

/* Values that will change on smaller screen sizes */
@media screen and (max-width: 960px) {
    .card-container {
        flex-direction: column;
    }

    .max-width-50{
        max-width: 80vw;
    }
}