h1 {
    text-align: left;
    margin: 1rem 1rem 2.5rem 1rem;
    max-width:90%;

}

.question-container{
    border: solid 1px #db8204;
    
    padding: 1rem;
    max-width: 75%;
    width: 100%;
    margin: 1rem auto 1rem auto;
    max-height: 12rem;
    height: 100%;

    display:flex;
    flex-direction: row;
}



.question-details-wrapper{
    max-width:90%;
    max-height:60%;
    min-width:70%;
    width:90%;
}

.question-text {
    height: 100%;
    max-width:90%;
    width:100%;
    text-align: justify;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.qn-button-container {
    text-align: end;
    max-width:90%;
   
    

}

.see-more-link{
    text-decoration: none;
    color:gray;
}

.see-more-btn {
    width: 8em;
    padding: 0.5rem;
    
}

.question-text {
    text-decoration: none;
    max-height:30%;
    margin:0rem;
   
}

.answer-count{
    padding-right:1rem
}

@media screen and (max-width: 960px) {
    .question-container {
        flex-direction: column;
        max-height: 20rem;
    }
    .vote-question-button{
        text-align: center;
        width:100%
        /* align-content: center; */
    }
}
/* qn-button-container  see-more-link question-text*/